@import '../../variables.scss';

.content {
	margin: 0;
}
.map {
	height: 100vh;
	cursor: pointer;
}
.map-content {
	padding-left: 0px;
	padding-right: 0px;
}
.sidebar-content {
	padding-left: 0px;
	padding-right: 0px;
	height: 100vh;
	overflow-y: scroll;
}
.main {
	color: white;
	margin: 5px;
	border-radius: 5px;
}
.title {
	font-size: 20px;
}
.header {
	background-color: $main-color;
	text-align: left;
	padding: 10px;
	border-radius: 5px;
	width: 100%; 
	margin: 0 auto;
}
.menu {
	background-color: inherit;
	margin: 10px;
	width: 95%;
	margin: 25px auto 15px auto;
}
.menu a {
	color: $main-color;
}
.selected {
	color: $main-color;
	border-bottom: 2px solid $main-color;
}
#directions {
	padding: 10px 10px 0 10px;
	font-size: 14px;
	color: black;
	width: 98%; 
	margin: 0 auto;
}
#directions input {
	border: none;
}
#directions input::placeholder {
	font-size: 14px;
}
#directions input:focus {
	box-shadow: none; 
}
.search-item {
	border: 1px solid #4285F4;
	border-radius: 5px;
	background-color: white;
	position: relative;
}
.search-item > div {
	padding: 0;
}
.button-holder {
	text-align:center;
	margin-bottom: 5px;
}
.action-button {
	height: 40px;
	width: 135px;
	border: 2px solid white;
	border-radius: 10px;
	background-color: $main-color;
	color: white;
	font-size: 16px;
	outline: 0;
	cursor: pointer;
}
.action-button:disabled, .action-button:hover:disabled {
	background-color: #bfbfbf;
	color: white;
	border: 2px solid white;
}
.action-button:hover {
	border: 2px solid  $main-color;
	background-color: white;
	color: $main-color;
}
.legend {
	position: absolute;
	right: 0;
	top: 0;
	background-color: white;
	width: 150px;
	padding: 5px;
	z-index: 1;
	border: 1px solid $main-color;
	border-radius: 5px; 
	color: #666;
}
.legend-bus {
	border-bottom: 2px solid $bus-color;
	text-align: center;
	margin: 5px;
}
.legend-walking {
	border-bottom: 2px dashed $walking-color;
	text-align: center;
	margin: 5px;
}
.legend-title {
	font-weight: bold;
}
.input-field-icons {
	position: absolute;
	top: 0;
	right: 0;
}
.search-item .input-field-icons {
	padding: 5px;
}
img {
	height: 24px;
	cursor: pointer;
}
.searched-destination {
	border-bottom: 1px solid $border-color;
	padding: 10px;
}
.searched-destination:hover {
	background-color: #eaeaea;
	cursor: pointer;
}
.destination-input {
	width : 85%;
	overflow:hidden;
	display:inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.flags {
	position: absolute;
	top: 2%;
	right: 2%;
}
.flags img {
	padding: 0 5px;
}
@media(max-width: 767px) {
	.map {
		height: 70vh;
	}
	.sidebar-content  {
		height: 100%;
	}
	.legend {
		display: none;
	}
}