@import '../../variables.scss';

img {
	height: 24px;
}
.title {
	text-align: center;
	font-size: 24px;
	color: #8C8C8C;
	padding: 10px 0;
	font-weight: bold;
}
.route {
	padding: 40px 0 40px 10px;
	border: 1px solid $border-color;
	color: #404040;
	margin: 3px;
	border-radius: 5px;
	position: relative;
}
#routes > div .route:hover {
	background-color:#eaeaea;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
}
.selected {
  background-color: #DBE1F5;
}
.estimated-time {
	display: grid;
	text-align: center;
	font-size: 20px;
	margin: auto;
}
.activities {
	margin: auto;
}
.activity {
	display: inline-flex;
}
.activity label {
	cursor: pointer;
}
.bus-route {
	border: 1px solid $border-color;
	border-bottom: 5px solid $bus-color;
	border-radius: 5px;
	height: 30px;
	margin: 5px;
	padding: 0 5px;
}
.walking-route {
	border: 1px solid $border-color;
	border-bottom: 5px solid $walking-color;
	border-radius: 5px;
	height: 30px;
	margin: 5px;
	padding: 0 5px;
}
.arrow {
	padding: 8px 0;
}
.selected-route-info {
	text-align: center;
	font-size: 16px;
	color: $main-color;
}
.cost {
	position: absolute;
	top: 2%;
	right: 2%;
	font-size: 16px;
}